
*{
    margin:0;
    padding: 0;
    outline: 0;
   }
   .filter{
   position:absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   }
   body{
   z-index: -1;
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   }
   
   .container {
       height: 100vh;
       width:100%;
       background-position: center;
       background-size: cover;
       padding-left: 5%;
       padding-right: 5%;
       box-sizing: border-box;
       position: relative;
   }
   .navbar{
       width: 100%;
       height: 15vh;
       margin: auto;
       display: flex;
       align-items: center;
   }
   
   .logo {
       width: 100px;
       cursor: pointer;
   }
   
   .cart {
       width: 100px;
       cursor: pointer;
       position: absolute;
       right: 0%;
   }
   
   nav{
       flex: 1;
       padding-left: 60px;
   }
   
   nav ul li{
       float: right;
       display: inline-block;
       list-style: none;
       margin: 0px 20px;
   
   }
   
   nav ul li a{
       text-decoration: none;
       color: #232d60;
       margin-left: 50px;
   }
   h2{
       text-align: center;
       margin-bottom: 20px;
   }
   .matter{
       align-items: center;
       position: absolute;
       top: 200%;
   }
   
.img-wrap{
    position: absolute;
    bottom: 100%;
    left:300%;
    top: 10%;
}
