<!DOCTYPE html>
<html>
<head>
<style>

html{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width:100%;
   
background-image: url(images/new.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.cart {
    width: 100px;
    cursor: pointer;
    position: absolute;
    right: 0%;
}

nav{
    flex: 1;
    padding-left: 60px;
}

nav ul li{
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #232d60;
    margin-left: 50px;
}

.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p{
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #6a7199;
}
.content {
    margin-top: 10%;
    margin-left: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #bdcdee, #e9b3d5);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #232d60;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.arrow-icons{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
}
.arrow-icons img{
    width: 40px;
    margin-right: 25px;

}
.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left:-80px;
    bottom: 180px;
}
.social-links a {
    text-decoration: none;
    color: #232d60;
   
   padding-right: 20px;
    font-size: 14px;
}

</style>
</head>
</html>




