<!DOCTYPE html>
<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');





html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}



nav{
  flex: 1;
  padding-left: 60px;
}
#welcome{
  float: left;
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
  font-size:xx-large ;
  color: #232d60;
  font-weight:bold;
  text-decoration: none;
  margin-left: 50px;

}

nav ul li{
  float: right;
  display: inline-block;
  list-style: none;
  margin: 0px 20px;

}

nav ul li a{
  text-decoration: none;
  color: #232d60;
  margin-left: 20px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(223, 177, 197);
  box-sizing: border-box;
  box-shadow: 0 2px 15px rgba(61, 47, 47, 0.7);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #232d60;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #232d60;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color:  #232d60;
  font-size: 12px;
}
h3{
  color: #232d60
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #232d60;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box input:hover {
  background: rgb(223, 177, 197);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px   rgb(223, 177, 197),
              0 0 25px   rgb(223, 177, 197),
              0 0 50px   rgb(223, 177, 197),
              0 0 100px  rgb(223, 177, 197);
}

.login-box input span {
  position: absolute;
  display: block;
  
}

.login-box input span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #232d60);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,  #232d60);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,  #232d60);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box input span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent,  #232d60);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
.button{
  background: linear-gradient(45deg, #bdcdee, #e9b3d5);
  border-radius: 8px;
  color: #232d60;
  
}
</style>
</head>
</html>
