<!DOCTYPE html>
<html>
<head>
<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

*{
 margin:0;
 padding: 0;
 outline: 0;
}
body{
    position: relative;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
   
   
   background: rgb(238,174,202);
   background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
   }
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}



nav{
    flex: 1;
    padding-left: 60px;
}
#welcome{
    float: left;
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-size:xx-large ;
    color: #232d60;
    font-weight:bold;
    text-decoration: none;
    margin-left: 50px;

}

nav ul li{
    float: right;
    display: inline-block;
    list-style: none;
    margin: 0px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #232d60;
    margin-left: 20px;
}
table{
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%; 
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px 12px 0 0;
    overflow: hidden;
   
   }
   td , th{
    padding: 15px 20px;
    text-align: center;
    
   
   }
   th{
    background-color:  rgb(238, 174, 202);
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
   
   }
   tr{
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
   }
   tr:nth-child(even){
    background-color: #eeeeee;
   }
</style>

</head>
</html>